header{
    display: flex;
    justify-content: space-between;
    color: white;
}
header > .right{
    display: flex;
}
h6{
    margin-right: 5px;
    
}
body{
    padding: 0 15%;
    background-color: rgb(20, 20, 39);
}
.main{
    color: white;
    display: flex;
    margin-bottom: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-image{
    padding: 10px;
    margin: 5px;
    align-items: center;
    background-color: grey;
    font-size: 15px;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    font-weight: bold;
    background-color: rgb(3, 126, 174);
    text-align: center;
    border-radius: 5px;
    padding: 4px 20px;
    border: 1.5px solid white;
    cursor: pointer;
}
.quote{
    background-color: rgb(205, 205, 205);
    padding: 20% 60%;
    margin: 0 -40%;
}
.action{
    background-color: white;
    padding: 10%;
    margin: 0 -40%;

}
.action-box{
    color: white;
    padding: 10%;
    margin: 20%;
    border-radius: 5px;
    background-color: rgb(3, 126, 174);
}
footer{
    text-align: center;
    color: white;
    font-size: x-small;
}
.right{
    text-align: right;
    font-weight: bold;
    font-size: small;
}